// *Variables
$website-width: 1280px;
$main-color: #845ec2;
$light-color: #f4f4f4;
$medium-color: #b0a8b9;
$dark-color: #4b4453;
$highlight-color: #00c0a3;
$other-color: #00896f;
$bg-image: url("../img/header.jpg");
